* {
    font-family: 'Courier New', Courier, monospace;
}

.button1 {
    background-color:grey;
}

.button2 {
    background-color: red;
}

.button3 {
    background-color: whitesmoke;
}

.buttonhome{
    background-color: greenyellow;
}

.ingredientlist{
    font-weight: bold;
}

.steplist{
    /* what are you doing, step-list?! (⸝⸝⸝O﹏ O⸝⸝⸝) */
    font-style: italic;
}